<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/expert.css" />
    <title>EXPERTS</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light toobar-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img
            src="https://1000logos.net/wp-content/uploads/2021/11/Quizlet-Logo.png"
            alt="photo"
            id="img"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li>
              <a class="nav-link active" aria-current="page" href="#"
                >Expert solutions</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Your library</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Create
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fa-sharp fa-solid fa-copy"></i> Học phần</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="fa-solid fa-folder"></i> Thu mục</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="fa-solid fa-user-group"></i> Lớp</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <span class="vip">Upgrade: free 7-day trial</span>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Study sets, textboo..."
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
      <button id="notification">
        <i class="fa-solid fa-bell"></i>
      </button>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-sharp fa-solid fa-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-user">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Progress</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Blog</a></li>
                  <li><a class="dropdown-item" href="#">Upgrade</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Help and feedback</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Log out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-12 top">Expert solutions</div>
        <div class="col-12 one">
          <img
            src="https://d2nchlq0f2u6vy.cloudfront.net/cache/c8/a5/c8a5311396364c06fa04595bbe2902f9.jpg"
            alt="photo"
            class="img-experts"
          />
          <div>
            <h2>Precalculus</h2>
            <h6>2nd Edition</h6>
            <h6 class="title-top">
              Carter, Cuevas, Day, Malloy <br />
              ISBN: 9780076602186
            </h6>
          </div>
        </div>
        <div class="col-12 two">
          <h2 class="textbook">Textbook solutions</h2>
          <h6 class="verified">Verified</h6>
        </div>
        <div class="col-12 three">
          <h4>Chapter 0: Prearing for Precalculus</h4>
        </div>
        <div class="col-12 three">
          <h4>Chapter 1: Functions from a Calculus Perspective</h4>
        </div>
        <div class="col-12 three">
          <h4>Chapter 2: Power,Polynomial,and Rational Functions</h4>
        </div>
        <div class="col-12 three">
          <h4>Chapter 3: Exponential and Logarithmic Functions</h4>
        </div>
        <div class="col-12 three">
          <h4>Chapter 4: Trigonomectric Functions</h4>
        </div>
        <div class="col-12 three">
          <h4>Chapter 5: Trigonometric ldentities and Equations</h4>
        </div>
        <div class="col-12 three">
          <h4>Chapter 6: Stystem of Equations and Matrices</h4>
        </div>
        <div class="col-12 content">
          <p>
            At Quizlet, we’re giving you the tools you need to take on any
            subject without having to carry around solutions manuals or printing
            out PDFs! Now, with expert-verified solutions from Precalculus 2nd
            Edition, you’ll learn how to solve your toughest homework problems.
            Our resource for Precalculus includes answers to chapter exercises,
            as well as detailed information to walk you through the process step
            by step. With expert solutions for thousands of practice problems,
            you can take the guesswork out of studying and move forward with
            confidence.
          </p>
        </div>
       
      </div> 
      <span class="contentItem">
            Privacy
        </span>
        <span class="contentItem">
            Terms
        </span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
