<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/homeLogin.css" />
    <title>HOMEPAGE</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img
            src="https://1000logos.net/wp-content/uploads/2021/11/Quizlet-Logo.png"
            alt="photo"
            id="img"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Trang chủ</a
              >
            </li>
            <li>
              <a class="nav-link active" aria-current="page" href="#">Chủ đề</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lời giải chuyên gia</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Tạo
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="fa-sharp fa-solid fa-copy"></i> Học phần</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="fa-solid fa-folder"></i> Thu mục</a
                  >
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="fa-solid fa-user-group"></i> Lớp</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Học phần, sách giá..."
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
      <button id="loginPage">Đăng nhập</button>
      <button id="registerPage">Đăng ký</button>

      <!-- Modal -->
    </nav>
    <div class="containerPage">
      <div class="containerHome">
        <img
          src="https://images.prismic.io/quizlet-prod/6aa15201-1bbd-4bab-803d-93e7d2d4110e_Alt+Image+1+%281%29.png?auto=compress,format&rect=0,0,2880,1317&w=2880&h=1317"
          alt="photo"
          class="imgHome"
        />
      </div>
      <div class="title">
        <h2 class="title-home">
          Thẻ ghi nhớ kỹ thuật số và<br />
          các công cụ học tốt nhất
        </h2>
        <p>
          Tham gia cùng hơn 60 triệu học sinh đang sử dụng các thẻ<br />
          ghi nhớ dựa trên nền tảng khoa học, các bài kiểm tra thử và<br />
          lời giải chuyên gia của Quizlet để cải thiện điểm số và đạt<br />
          được mục tiêu.
        </p>
        <button id="register-free"><h2>Đăng ký miễn phí</h2></button>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>
              90% học sinh sử dụng Quizlet cho biết họ đã cải thiện được điểm
              số.
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h1 class="title-content">Ghi nhớ nhanh hơn, miễn phí</h1>
            <p>
              Nghiên cứu cho thấy việc tự kiểm tra bằng thẻ <br />
              ghi nhớ sẽ hiệu quả hơn việc đọc lại ghi chú của <br />
              bạn. Từ toán học, y học đến ngôn ngữ hiện đại, <br />
              Quizlet được học sinh sử dụng trong hơn 100 <br />
              chủ đề khác nhau.
            </p>
            <button id="start">Bắt đầu</button>
          </div>
          <div class="col-6">
            <img
              src="https://images.prismic.io/quizlet-prod/130dc509-6919-47bc-b27d-17f600a41b0c_IntlFirstSlice.png?auto=compress,format"
              alt="photo"
              class="img-content"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <img
              src="https://images.prismic.io/quizlet-prod/1d359d1f-be06-481d-af18-30a4d93b3b0f_commute-image.png?auto=compress,format&rect=0,0,1001,1000&w=1001&h=1000"
              alt="photo"
              class="img-content"
            />
          </div>
          <div class="col-6">
            <h1 class="title-content">
              Thời gian đi lại hôm qua,hôm nay lại là buổi học
            </h1>
            <p>
              Học ở mọi nơi – ngay cả khi ngoại tuyến – với <br />
              ứng dụng iOS và Android của chúng tôi. Tiến <br />
              trình của bạn được đồng bộ hóa giữa điện thoại <br />
              và máy tính.
            </p>
            <img
              src="z3843371843902_9d1db59136cefca76ee973f2fd1d8024.jpg"
              alt="photo"
            />
          </div>
        </div>
        <h1 class="title-buttom">Các học sinh nói gì về Quizlet</h1>
          <div class="row row-buttum">
              <div class="col-3">
                <img
                  src="https://samkyvuong.vn/wp-content/uploads/2022/04/anh-gai-nhat.jpg"
                  alt="photo"
                  class="img-gai"
                />
                <h4>
                  “Quizlet đã tiếp sức cho thành <br />
                  công của tôi từ khi còn học <br />
                  trung học. Những tấm thẻ ghi <br />
                  nhớ có thể dùng ngay khi đang <br />
                  di chuyển đang hỗ trợ đắc lực <br />
                  cho tôi ở đại học”.
                </h4>
                <p>Hamza, năm cuối, Y học</p>
              </div>
              <div class="col-3">
                <img
                  src="https://bigdata-vn.com/wp-content/uploads/2021/10/Hin-anh-gai-xinh-Nhat-Ban-trong-sang-de-thuong.jpg"
                  alt="photo"
                  class="img-gai"
                />
                <h4>
                  “Chế độ Học là điều tuyệt vời <br />
                  nhất từng có từ Quizlet. Nó hiển <br />
                  thị cho bạn các thuật ngữ theo <br />
                  cách dễ ghi nhớ nhất."
                </h4>
                <p>Sydney, năm hai, Sinh học</p>
              </div>
              <div class="col-3">
                <img
                  src="https://thuthuatnhanh.com/wp-content/uploads/2019/04/hinh-girl-Nhat-cute.jpg"
                  alt="photo"
                  class="img-gai"
                />
                <h4>
                  “Tất cả bạn bè của chúng tôi <br />
                  đều sử dụng Quizlet. Đây là một <br />
                  cách học thú vị và chúng tôi thấy <br />
                  tự tin hơn khi chuẩn bị cho kỳ thi <br />
                  giữa kỳ và cuối kỳ."
                </h4>
                <p>Owen & Oscar, học sinh năm hai phổ thông</p>
              </div>
            </div>
          </div>
        <div class="containerButtum">
            <div class="row buttum-content">
                <div class="col-6">
                    <h5>Giáo viên</h5>
                    <h2 class="title-buttom-one">
                        Truyền năng lượng cho học sinh của bạn
                    </h2>
                    <p class="content-buttom">Giúp các em tự tin học bất cứ nội dung nào, dù <br> cho mục tiêu phấn đấu có là gì đi nữa. Sử dụng <br> các học phần miễn phí, chế độ học và trò chơi <br> Cột mốc trong lớp của Quizlet, bạn có thể ngay <br> lập tức tạo ra một lớp học tương tác cao hơn. <br> Học sinh và giáo viên có thể đăng ký và học <br> miễn phí.</p>
                    <button id="registerFree">Lập tài khoản miễn phí</button>
                </div>
                <div class="col-6">
                    <img src="https://images.prismic.io/quizlet-prod/d5b00568-a324-488f-b16b-44480144cb81_Image+for+Text+Callout+%283%29.png?auto=compress,format&rect=0,0,501,500&w=501&h=500" alt="photo" class="img-buttum">
                </div>
            </div>
        </div>
      </div>
    </div>
    <img src="z3843671973101_f1bc6fae16a428283db2919ea8822983.jpg" alt="photo">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/homeLogin.js"></script>
  </body>
</html>
